In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [1]:
#!pip install psycopg2-binary

Collecting psycopg2-binary
  Obtaining dependency information for psycopg2-binary from https://files.pythonhosted.org/packages/a5/ac/702d300f3df169b9d0cbef0340d9f34a78bc18dc2dbafbcb39ff0f165cf8/psycopg2_binary-2.9.9-cp311-cp311-macosx_10_9_x86_64.whl.metadata
  Downloading psycopg2_binary-2.9.9-cp311-cp311-macosx_10_9_x86_64.whl.metadata (4.4 kB)
Downloading psycopg2_binary-2.9.9-cp311-cp311-macosx_10_9_x86_64.whl (2.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 14.1 MB/s eta 0:00:0000:0100:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [2]:
#!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 5.4 MB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp311-cp311-macosx_10_9_x86_64.whl size=133308 sha256=78f623df88f34909a2454684cc3b72505a8afc860aa89c7889c149f13461db6b
  Stored in directory: /Users/georgetoma/Library/Caches/pip/wheels/ab/34/b9/78ebef1b3220b4840ee482461e738566c3c9165d2b5c914f51
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9

In [3]:
from sqlalchemy import create_engine, text

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [14]:
database_name = 'prescribers'    # Fill this in with your prescribers database name

connection_string = f"postgresql://postgres:190174801@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [15]:
engine = create_engine(connection_string)

sqlalchemy works well with pandas to convert query results into dataframes.

In [16]:
import pandas as pd

First, let's write a meaningful query.

In [17]:
query = 'SELECT * FROM prescriber'

Now, bring it all together using the following syntax.

In [18]:
with engine.connect() as connection:
    people = pd.read_sql(text(query), con = connection)

people.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,0001,TN,US,Nurse Practitioner,S,N
1,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,37919,2333,TN,US,Pulmonary Disease,S,E
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,37043,4605,TN,US,Family Practice,S,E
3,1.003014e+09,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,2786,TN,US,Orthopedic Surgery,S,E
4,1.003018e+09,TODD,JOSHUA,W,M.D.,M,I,1819 W CLINCH AVE,SUITE 108,KNOXVILLE,37916,2435,TN,US,Cardiology,S,E

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python

* Is there an association between rates of opioid prescriptions and overdose deaths by county?

In [25]:
opiods = """WITH opiods AS
(
SELECT drug_name
FROM drug
WHERE opioid_drug_flag = 'Y'
)

SELECT 
DISTINCT(f.county),
count(p.npi)
FROM opiods as o
LEFT JOIN prescription as pn
	On pn.drug_name = o.drug_name
LEFT JOIN prescriber as p
	ON p.npi = pn.npi
LEFT JOIN zip_fips as z
	ON z.zip = p.nppes_provider_zip5
LEFT JOIN fips_county as f
	ON f.fipscounty = z.fipscounty
	WHERE f.county is not NULL
	AND state = 'TN'
GROUP by f.county"""

In [26]:
with engine.connect() as connection:
    opiods = pd.read_sql(text(opiods), con = connection)

opiods.head()

     county  count
0  ANDERSON    737
1   BEDFORD    514
2    BENTON     93
3   BLEDSOE    243
4    BLOUNT   1155

In [27]:
overdoes = """SELECT 
	county,
	SUM(overdose_deaths) AS Overdose_count
FROM overdose_deaths as o
LEFT JOIN fips_county as f
	ON o.fipscounty = CAST(f.fipscounty AS INT)
	WHERE state = 'TN'
GROUP BY county"""

In [28]:
with engine.connect() as connection:
    overdoes = pd.read_sql(text(overdoes), con = connection)

overdoes.head()

     county  overdose_count
0  MARSHALL              26
1    GIBSON              23
2    TIPTON              52
3    GRUNDY               6
4   STEWART               8