In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [1]:
import pandas as pd
import folium
import numpy as np
import sqlite3 as sql
from geopy.geocoders import Nominatim

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
from sqlalchemy import create_engine, text

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [4]:
database_name = 'prescribers'    # Fill this in with your prescribers database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [5]:
engine = create_engine(connection_string)

sqlalchemy works well with pandas to convert query results into dataframes.

In [6]:
import pandas as pd

First, let's write a meaningful query.

In [7]:
query = 'SELECT * FROM prescriber'

Now, bring it all together using the following syntax.

In [8]:
with engine.connect() as connection:
    people = pd.read_sql(text(query), con = connection)

people.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,0001,TN,US,Nurse Practitioner,S,N
1,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,37919,2333,TN,US,Pulmonary Disease,S,E
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,37043,4605,TN,US,Family Practice,S,E
3,1.003014e+09,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,2786,TN,US,Orthopedic Surgery,S,E
4,1.003018e+09,TODD,JOSHUA,W,M.D.,M,I,1819 W CLINCH AVE,SUITE 108,KNOXVILLE,37916,2435,TN,US,Cardiology,S,E

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python

In [9]:
# Tennessee's Opioid Crisis
# Opioids are a class of drugs including prescription pain relievers such as oxycodone and hydrocodone, the synthetic opioid fentanyl, and the illegal drug heroin. These drugs produce euphoria in addition to pain relief, which can lead to dependence, addiction, overdose, and death.

# In the late 1990s, opioids began to be prescribed at high rates, which led to widespread misuse and ultimately created a serious national health crisis. In 2019, more than 130 people per day died from opioid-related drug overdoses in the United States. Tennessee has been one of the hardest-hit states in the opioid epidemic, with more than 1300 overdose deaths in 2018.

# In this project, you will be working with a database created from the 2017 Medicare Part D Prescriber Public Use File to answer the following questions:

# Which Tennessee counties had a disproportionately high number of opioid prescriptions?
# Who are the top opioid prescibers for the state of Tennessee?
# What did the trend in overdose deaths due to opioids look like in Tennessee from 2015 to 2018?
# Is there an association between rates of opioid prescriptions and overdose deaths by county?
# Is there any association between a particular type of opioid and number of overdose deaths?
# Note that some zip codes will be associated with multiple fipscounty values in the zip_fips table. To resolve this, use the fipscounty with the highest tot_ratio for each zipcode.

# Feel free to include any additional data sets, but it is not a requirement.

# With your group, create a 10 minute presentation addressing these questions.

In [10]:
predf = 'SELECT * FROM prescription'

In [11]:
with engine.connect() as connection:
  prescriptiondf = pd.read_sql(text(predf), con = connection)

prescriptiondf.head()

,npi,drug_name,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1.427076e+09,RALOXIFENE HCL,NaN,18.0,28.0,840.0,1009.66,NaN,*,18.0,None,28.0,840.0,1009.66
1,1.003858e+09,GLIMEPIRIDE,NaN,12.0,16.0,480.0,270.86,NaN,*,NaN,*,NaN,NaN,NaN
2,1.184627e+09,TAMSULOSIN HCL,NaN,14.0,24.0,698.0,353.62,NaN,#,NaN,#,NaN,NaN,NaN
3,1.306111e+09,SPIRIVA,NaN,13.0,13.0,390.0,4783.28,NaN,*,NaN,*,NaN,NaN,NaN
4,1.285658e+09,SPIRIVA,NaN,13.0,13.0,390.0,4855.95,NaN,#,NaN,#,NaN,NaN,NaN

In [12]:
ddf = 'SELECT * FROM drug'

In [13]:
with engine.connect() as connection:
  drugdf = pd.read_sql(text(ddf), con = connection)

drugdf.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
0,1ST TIER UNIFINE PENTIPS,"PEN NEEDLE, DIABETIC",N,N,N,N
1,1ST TIER UNIFINE PENTIPS PLUS,"PEN NEEDLE, DIABETIC",N,N,N,N
2,ABACAVIR,ABACAVIR SULFATE,N,N,N,N
3,ABACAVIR-LAMIVUDINE,ABACAVIR SULFATE/LAMIVUDINE,N,N,N,N
4,ABACAVIR-LAMIVUDINE-ZIDOVUDINE,ABACAVIR/LAMIVUDINE/ZIDOVUDINE,N,N,N,N

In [14]:
# Who are the top opioid prescibers for the state of Tennessee?
opyes = drugdf.loc[drugdf['opioid_drug_flag']=='Y']

In [15]:
opyes1 = opyes.head(100)

In [16]:
rxop = pd.merge(prescriptiondf, opyes1, on='drug_name')

In [17]:
rxop

,npi,drug_name,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
0,1.659798e+09,OXYCODONE-ACETAMINOPHEN,102.0,525.0,525.0,15538.0,27665.43,43.0,None,245.0,None,245.0,7290.0,12245.28,OXYCODONE HCL/ACETAMINOPHEN,Y,N,N,N
1,1.073577e+09,OXYCODONE-ACETAMINOPHEN,12.0,20.0,20.0,103.0,159.69,NaN,#,NaN,#,NaN,NaN,NaN,OXYCODONE HCL/ACETAMINOPHEN,Y,N,N,N
2,1.508065e+09,OXYCODONE-ACETAMINOPHEN,18.0,105.0,105.0,2380.0,6417.30,NaN,#,80.0,None,80.0,1836.0,5163.54,OXYCODONE HCL/ACETAMINOPHEN,Y,N,N,N
3,1.689785e+09,OXYCODONE-ACETAMINOPHEN,12.0,17.0,17.0,358.0,350.49,12.0,None,17.0,None,17.0,358.0,350.49,OXYCODONE HCL/ACETAMINOPHEN,Y,N,N,N
4,1.831504e+09,OXYCODONE-ACETAMINOPHEN,175.0,242.0,242.0,7103.0,10714.55,89.0,None,117.0,None,117.0,3432.0,5655.45,OXYCODONE HCL/ACETAMINOPHEN,Y,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31927,1.356305e+09,VICODIN HP,NaN,11.0,11.0,330.0,2742.60,NaN,*,11.0,None,11.0,330.0,2742.60,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N
31928,1.235119e+09,ULTRACET,NaN,12.0,12.0,360.0,5526.60,0.0,None,0.0,None,0.0,0.0,0.00,TRAMADOL HCL/ACETAMINOPHEN,Y,N,N,N
31929,1.922281e+09,DILAUDID,NaN,11.0,11.0,250.0,4005.06,0.0,None,0.0,None,0.0,0.0,0.00,HYDROMORPHONE HCL,Y,N,N,N
31930,1.598926e+09,DILAUDID,NaN,12.0,12.0,360.0,6476.13,NaN,*,12.0,None,12.0,360.0,6476.13,HYDROMORPHONE HCL,Y,N,N,N
31931,1.043532e+09,ROXICODONE,NaN,12.0,12.0,336.0,13062.89,0.0,None,0.0,None,0.0,0.0,0.00,OXYCODONE HCL,Y,N,N,N

In [18]:
 rxop1 = rxop.drop(columns = [ 'bene_count', 'total_claim_count', 'total_30_day_fill_count', 'total_day_supply', 'total_drug_cost' , 'bene_count_ge65', 'bene_count_ge65_suppress_flag', 'total_claim_count_ge65' , 'ge65_suppress_flag', 'total_30_day_fill_count_ge65', 'total_day_supply_ge65','total_drug_cost_ge65' , 'opioid_drug_flag', 'long_acting_opioid_drug_flag','antibiotic_drug_flag', 'antipsychotic_drug_flag'])

In [19]:
rxop1

                npi                drug_name                 generic_name
0      1.659798e+09  OXYCODONE-ACETAMINOPHEN  OXYCODONE HCL/ACETAMINOPHEN
1      1.073577e+09  OXYCODONE-ACETAMINOPHEN  OXYCODONE HCL/ACETAMINOPHEN
2      1.508065e+09  OXYCODONE-ACETAMINOPHEN  OXYCODONE HCL/ACETAMINOPHEN
3      1.689785e+09  OXYCODONE-ACETAMINOPHEN  OXYCODONE HCL/ACETAMINOPHEN
4      1.831504e+09  OXYCODONE-ACETAMINOPHEN  OXYCODONE HCL/ACETAMINOPHEN
...             ...                      ...                          ...
31927  1.356305e+09               VICODIN HP    HYDROCODONE/ACETAMINOPHEN
31928  1.235119e+09                 ULTRACET   TRAMADOL HCL/ACETAMINOPHEN
31929  1.922281e+09                 DILAUDID            HYDROMORPHONE HCL
31930  1.598926e+09                 DILAUDID            HYDROMORPHONE HCL
31931  1.043532e+09               ROXICODONE                OXYCODONE HCL

[31932 rows x 3 columns]

In [20]:
prescrdf = 'SELECT * FROM prescriber'

In [21]:
with engine.connect() as connection:
  prescriberdf = pd.read_sql(text(prescrdf), con = connection)

prescriberdf.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,0001,TN,US,Nurse Practitioner,S,N
1,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,37919,2333,TN,US,Pulmonary Disease,S,E
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,37043,4605,TN,US,Family Practice,S,E
3,1.003014e+09,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,2786,TN,US,Orthopedic Surgery,S,E
4,1.003018e+09,TODD,JOSHUA,W,M.D.,M,I,1819 W CLINCH AVE,SUITE 108,KNOXVILLE,37916,2435,TN,US,Cardiology,S,E

In [22]:
countpopre = pd.merge(prescriberdf, rxop, on='npi', how='left')

In [23]:
tncount = countpopre.loc[countpopre['nppes_provider_state']=='TN']

In [24]:
tncount1 =tncount.sort_values('total_claim_count', ascending=False)

In [25]:
col_list = ['npi', 'nppes_provider_first_name', 'nppes_provider_last_org_name', 'total_claim_count', 'nppes_provider_zip5', 'nppes_provider_state']

countpopre2 = countpopre[col_list]

In [26]:
countpop1 = countpopre2.dropna()

In [27]:
tncount1.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status,drug_name,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
41842,1.912012e+09,COFFEY,DAVID,B,MD,M,I,281 UNDERPASS DRIVE,None,ONEIDA,37841,None,TN,US,Family Practice,S,E,OXYCODONE HCL,467.0,4538.0,4538.9,66209.0,81256.66,141.0,None,1402.0,None,1402.9,20646.0,24565.20,OXYCODONE HCL,Y,N,N,N
41838,1.912012e+09,COFFEY,DAVID,B,MD,M,I,281 UNDERPASS DRIVE,None,ONEIDA,37841,None,TN,US,Family Practice,S,E,HYDROCODONE-ACETAMINOPHEN,415.0,3376.0,3376.0,49291.0,45346.03,146.0,None,1051.0,None,1051.0,16086.0,14500.39,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N
40027,1.861892e+09,TAYLOR,ALICIA,N,"PA-C, MPAS",F,I,2212 JACKSBORO PIKE,None,LA FOLLETTE,37766,2903,TN,US,Physician Assistant,S,E,OXYCODONE HCL,387.0,2977.0,2979.0,85191.0,104730.89,116.0,None,909.0,None,911.0,26430.0,34974.41,OXYCODONE HCL,Y,N,N,N
20709,1.447608e+09,CATHERS,SHARON,None,NP-C,F,I,9217 PARK WEST BLVD,STE E-1,KNOXVILLE,37923,4404,TN,US,Nurse Practitioner,S,E,OXYCODONE HCL,584.0,2813.0,2813.0,84001.0,91601.73,148.0,None,753.0,None,753.0,22324.0,24143.54,OXYCODONE HCL,Y,N,N,N
15854,1.346389e+09,ORUSA,SAMSON,K,M.D,M,I,261 STONECROSSING DR,None,CLARKSVILLE,37042,8404,TN,US,Internal Medicine,S,E,OXYCODONE HCL,222.0,2478.0,2478.0,59252.0,64897.00,21.0,None,229.0,None,229.0,5902.0,7123.46,OXYCODONE HCL,Y,N,N,N

In [28]:
countpop1 = countpop1.rename(columns = {
    'index': 'index', 
    'nppes_provider_first_name': 'firstname', 
    'nppes_provider_last_org_name': 'lastname',
    'total_claim_count': 'totalclaims', 
    'nppes_provider_zip5': 'zipcode',
    'nppes_provider_state': 'state',})
countpop1.head()

            npi firstname     lastname  totalclaims zipcode state
2  1.003013e+09   WILLIAM  GRABENSTEIN         77.0   37043    TN
3  1.003013e+09   WILLIAM  GRABENSTEIN        121.0   37043    TN
4  1.003013e+09   WILLIAM  GRABENSTEIN         50.0   37043    TN
5  1.003013e+09   WILLIAM  GRABENSTEIN         15.0   37043    TN
6  1.003013e+09   WILLIAM  GRABENSTEIN         23.0   37043    TN

In [29]:
pp = countpop1.sort_values('totalclaims', ascending=False).reset_index()
pp

       index           npi firstname   lastname  totalclaims zipcode state
0      41842  1.912012e+09     DAVID     COFFEY       4538.0   37841    TN
1      41838  1.912012e+09     DAVID     COFFEY       3376.0   37841    TN
2      40027  1.861892e+09    ALICIA     TAYLOR       2977.0   37766    TN
3      20709  1.447608e+09    SHARON    CATHERS       2813.0   37923    TN
4      15854  1.346389e+09    SAMSON      ORUSA       2478.0   37042    TN
...      ...           ...       ...        ...          ...     ...   ...
31924  43683  1.952302e+09      JANE    GOTCHER         11.0   38501    TN
31925   3853  1.083641e+09      UDIT  CHAUDHURI         11.0   37923    TN
31926  40214  1.871592e+09     SUSAN      LOWRY         11.0   38237    TN
31927   7433  1.154749e+09    AUDREY      MOORE         11.0   37830    TN
31928  35826  1.780624e+09    JIMMIE    WOODLEE         11.0   37110    TN

[31929 rows x 7 columns]

In [30]:
topprescribers = pp.drop(columns = [ 'index', 'npi'])

In [31]:
countpop1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31929 entries, 2 to 45908
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   npi          31929 non-null  float64
 1   firstname    31929 non-null  object
 2   lastname     31929 non-null  object
 3   totalclaims  31929 non-null  float64
 4   zipcode      31929 non-null  object
 5   state        31929 non-null  object
dtypes: float64(2), object(4)
memory usage: 1.7+ MB

In [32]:
nash_map = folium.Map(location = [36.1612, -86.7775], zoom_start=7)

In [33]:
nash_map

In [34]:
def get_coordinates(zip_code):
    geolocator = Nominatim(user_agent="geoapiExercises")
    location = geolocator.geocode(zip_code)
    return (location.latitude, location.longitude)

In [35]:
# Is there any association between a particular type of opioid and number of overdose deaths?
zipdf = 'SELECT * FROM zip_fips'

In [36]:
with engine.connect() as connection:
 zipsdf = pd.read_sql(text(zipdf), con = connection)

zipsdf.head()

     zip fipscounty  res_ratio  bus_ratio  oth_ratio  tot_ratio
0  00501      36103   0.000000    1.00000   0.000000   1.000000
1  00601      72113   0.160724    0.20098   0.128834   0.162500
2  00601      72001   0.839276    0.79902   0.871166   0.837500
3  00602      72003   1.000000    0.99880   1.000000   0.999919
4  00602      72005   0.000000    0.00120   0.000000   0.000081

In [37]:
fipscountydf = 'SELECT * FROM fips_county'

In [38]:
with engine.connect() as connection:
    fipscountdf = pd.read_sql(text(fipscountydf), con = connection)

fipscountdf.head()

    county state fipscounty fipsstate
0  AUTAUGA    AL      01001        01
1  BALDWIN    AL      01003        01
2  BARBOUR    AL      01005        01
3     BIBB    AL      01007        01
4   BLOUNT    AL      01009        01

In [39]:
odd = 'SELECT * FROM overdose_deaths'

In [40]:
with engine.connect() as connection:
    overdose = pd.read_sql(text(odd), con = connection)

overdose.head()

   overdose_deaths  year  fipscounty
0              135  2015       47157
1              150  2016       47157
2              159  2017       47157
3              123  2018       47157
4              122  2015       47093

In [41]:
fipscountdf['fipscounty'] = fipscountdf['fipscounty'].astype(int)

In [42]:
fipscountdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3272 entries, 0 to 3271
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   county      3272 non-null   object
 1   state       3272 non-null   object
 2   fipscounty  3272 non-null   int32
 3   fipsstate   3272 non-null   object
dtypes: int32(1), object(3)
memory usage: 89.6+ KB

In [43]:
odcounty = pd.merge(overdose, fipscountdf, on='fipscounty')

In [44]:
odcounty.head()

   overdose_deaths  year  fipscounty  county state fipsstate
0              135  2015       47157  SHELBY    TN        47
1              150  2016       47157  SHELBY    TN        47
2              159  2017       47157  SHELBY    TN        47
3              123  2018       47157  SHELBY    TN        47
4              122  2015       47093    KNOX    TN        47

In [45]:
oddeaths = pd.merge(odcounty, countpop1, on='state')

In [46]:
oddeaths.head()

,overdose_deaths,year,fipscounty,county,state,fipsstate,npi,firstname,lastname,totalclaims,zipcode
0,135,2015,47157,SHELBY,TN,47,1.003013e+09,WILLIAM,GRABENSTEIN,77.0,37043
1,135,2015,47157,SHELBY,TN,47,1.003013e+09,WILLIAM,GRABENSTEIN,121.0,37043
2,135,2015,47157,SHELBY,TN,47,1.003013e+09,WILLIAM,GRABENSTEIN,50.0,37043
3,135,2015,47157,SHELBY,TN,47,1.003013e+09,WILLIAM,GRABENSTEIN,15.0,37043
4,135,2015,47157,SHELBY,TN,47,1.003013e+09,WILLIAM,GRABENSTEIN,23.0,37043

In [47]:
oddeaths.sort_values('overdose_deaths', ascending=False).head(5)

,overdose_deaths,year,fipscounty,county,state,fipsstate,npi,firstname,lastname,totalclaims,zipcode
223505,218,2018,47093,KNOX,TN,47,1.003013e+09,WILLIAM,GRABENSTEIN,50.0,37043
244786,218,2018,47093,KNOX,TN,47,1.669471e+09,BEN,COFFEY,11.0,37874
244799,218,2018,47093,KNOX,TN,47,1.669479e+09,SYED,ZAIDI,41.0,38063
244798,218,2018,47093,KNOX,TN,47,1.669479e+09,HOWARD,CUMMINGS,63.0,37660
244797,218,2018,47093,KNOX,TN,47,1.669475e+09,PARVATI,ANANTHULA,14.0,37660

In [48]:
oddeaths.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12133020 entries, 0 to 12133019
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   overdose_deaths  int64
 1   year             int64
 2   fipscounty       int64
 3   county           object
 4   state            object
 5   fipsstate        object
 6   npi              float64
 7   firstname        object
 8   lastname         object
 9   totalclaims      float64
 10  zipcode          object
dtypes: float64(2), int64(3), object(6)
memory usage: 1018.2+ MB

In [49]:
oddddeaths = pd.merge(oddeaths, rxop1, on= 'npi')

In [50]:
oddddeaths.sort_values('overdose_deaths', ascending=False)

,overdose_deaths,year,fipscounty,county,state,fipsstate,npi,firstname,lastname,totalclaims,zipcode,drug_name,generic_name
1347605,218,2018,47093,KNOX,TN,47,1.013912e+09,RICK,WHILES,11.0,37620,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN
16998244,218,2018,47093,KNOX,TN,47,1.275695e+09,JAMES,SHERRER,163.0,37363,OXYCODONE-ACETAMINOPHEN,OXYCODONE HCL/ACETAMINOPHEN
13762525,218,2018,47093,KNOX,TN,47,1.215966e+09,CRAIG,MATHERNE,34.0,37604,TRAMADOL HCL,TRAMADOL HCL
13762526,218,2018,47093,KNOX,TN,47,1.215966e+09,CRAIG,MATHERNE,58.0,37604,OXYCODONE-ACETAMINOPHEN,OXYCODONE HCL/ACETAMINOPHEN
13762527,218,2018,47093,KNOX,TN,47,1.215966e+09,CRAIG,MATHERNE,58.0,37604,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10808983,0,2016,47135,PERRY,TN,47,1.174564e+09,BRIAN,STUART,20.0,37066,ACETAMINOPHEN-CODEINE,ACETAMINOPHEN WITH CODEINE
10808982,0,2016,47135,PERRY,TN,47,1.174564e+09,BRIAN,STUART,20.0,37066,TRAMADOL HCL,TRAMADOL HCL
10808981,0,2016,47135,PERRY,TN,47,1.174564e+09,BRIAN,STUART,20.0,37066,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN
10808980,0,2016,47135,PERRY,TN,47,1.174564e+09,BRIAN,STUART,20.0,37066,OXYCODONE-ACETAMINOPHEN,OXYCODONE HCL/ACETAMINOPHEN
11811024,0,2015,47127,MOORE,TN,47,1.194100e+09,MONICA,CHAMBERLAIN,17.0,37404,HYDROMORPHONE HCL,HYDROMORPHONE HCL

In [51]:
oddddeaths

,overdose_deaths,year,fipscounty,county,state,fipsstate,npi,firstname,lastname,totalclaims,zipcode,drug_name,generic_name
0,135,2015,47157,SHELBY,TN,47,1.003013e+09,WILLIAM,GRABENSTEIN,77.0,37043,OXYCODONE-ACETAMINOPHEN,OXYCODONE HCL/ACETAMINOPHEN
1,135,2015,47157,SHELBY,TN,47,1.003013e+09,WILLIAM,GRABENSTEIN,77.0,37043,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN
2,135,2015,47157,SHELBY,TN,47,1.003013e+09,WILLIAM,GRABENSTEIN,77.0,37043,TRAMADOL HCL,TRAMADOL HCL
3,135,2015,47157,SHELBY,TN,47,1.003013e+09,WILLIAM,GRABENSTEIN,77.0,37043,MORPHINE SULFATE ER,MORPHINE SULFATE
4,135,2015,47157,SHELBY,TN,47,1.003013e+09,WILLIAM,GRABENSTEIN,77.0,37043,OXYCODONE HCL,OXYCODONE HCL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61345295,2,2017,47007,BLEDSOE,TN,47,1.993000e+09,SHELIA,THOMAS,42.0,38119,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN
61345296,3,2018,47007,BLEDSOE,TN,47,1.993000e+09,SHELIA,THOMAS,12.0,38119,OXYCODONE-ACETAMINOPHEN,OXYCODONE HCL/ACETAMINOPHEN
61345297,3,2018,47007,BLEDSOE,TN,47,1.993000e+09,SHELIA,THOMAS,12.0,38119,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN
61345298,3,2018,47007,BLEDSOE,TN,47,1.993000e+09,SHELIA,THOMAS,42.0,38119,OXYCODONE-ACETAMINOPHEN,OXYCODONE HCL/ACETAMINOPHEN
61345299,3,2018,47007,BLEDSOE,TN,47,1.993000e+09,SHELIA,THOMAS,42.0,38119,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN

In [52]:
oddddeaths.drop(columns = ['year', 'fipscounty', 'fipsstate', 'npi'])

,overdose_deaths,county,state,firstname,lastname,totalclaims,zipcode,drug_name,generic_name
0,135,SHELBY,TN,WILLIAM,GRABENSTEIN,77.0,37043,OXYCODONE-ACETAMINOPHEN,OXYCODONE HCL/ACETAMINOPHEN
1,135,SHELBY,TN,WILLIAM,GRABENSTEIN,77.0,37043,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN
2,135,SHELBY,TN,WILLIAM,GRABENSTEIN,77.0,37043,TRAMADOL HCL,TRAMADOL HCL
3,135,SHELBY,TN,WILLIAM,GRABENSTEIN,77.0,37043,MORPHINE SULFATE ER,MORPHINE SULFATE
4,135,SHELBY,TN,WILLIAM,GRABENSTEIN,77.0,37043,OXYCODONE HCL,OXYCODONE HCL
...,...,...,...,...,...,...,...,...,...
61345295,2,BLEDSOE,TN,SHELIA,THOMAS,42.0,38119,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN
61345296,3,BLEDSOE,TN,SHELIA,THOMAS,12.0,38119,OXYCODONE-ACETAMINOPHEN,OXYCODONE HCL/ACETAMINOPHEN
61345297,3,BLEDSOE,TN,SHELIA,THOMAS,12.0,38119,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN
61345298,3,BLEDSOE,TN,SHELIA,THOMAS,42.0,38119,OXYCODONE-ACETAMINOPHEN,OXYCODONE HCL/ACETAMINOPHEN
61345299,3,BLEDSOE,TN,SHELIA,THOMAS,42.0,38119,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN

In [53]:
oxy = oddddeaths.sort_values('overdose_deaths', ascending=False)

In [54]:
# 2 Who are the top opioid prescibers for the state of Tennessee?
topprescribers

      firstname   lastname  totalclaims zipcode state
0         DAVID     COFFEY       4538.0   37841    TN
1         DAVID     COFFEY       3376.0   37841    TN
2        ALICIA     TAYLOR       2977.0   37766    TN
3        SHARON    CATHERS       2813.0   37923    TN
4        SAMSON      ORUSA       2478.0   37042    TN
...         ...        ...          ...     ...   ...
31924      JANE    GOTCHER         11.0   38501    TN
31925      UDIT  CHAUDHURI         11.0   37923    TN
31926     SUSAN      LOWRY         11.0   38237    TN
31927    AUDREY      MOORE         11.0   37830    TN
31928    JIMMIE    WOODLEE         11.0   37110    TN

[31929 rows x 5 columns]

In [55]:
# 5 Is there any association between a particular type of opioid and number of overdose deaths?
oxy

,overdose_deaths,year,fipscounty,county,state,fipsstate,npi,firstname,lastname,totalclaims,zipcode,drug_name,generic_name
1347605,218,2018,47093,KNOX,TN,47,1.013912e+09,RICK,WHILES,11.0,37620,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN
16998244,218,2018,47093,KNOX,TN,47,1.275695e+09,JAMES,SHERRER,163.0,37363,OXYCODONE-ACETAMINOPHEN,OXYCODONE HCL/ACETAMINOPHEN
13762525,218,2018,47093,KNOX,TN,47,1.215966e+09,CRAIG,MATHERNE,34.0,37604,TRAMADOL HCL,TRAMADOL HCL
13762526,218,2018,47093,KNOX,TN,47,1.215966e+09,CRAIG,MATHERNE,58.0,37604,OXYCODONE-ACETAMINOPHEN,OXYCODONE HCL/ACETAMINOPHEN
13762527,218,2018,47093,KNOX,TN,47,1.215966e+09,CRAIG,MATHERNE,58.0,37604,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10808983,0,2016,47135,PERRY,TN,47,1.174564e+09,BRIAN,STUART,20.0,37066,ACETAMINOPHEN-CODEINE,ACETAMINOPHEN WITH CODEINE
10808982,0,2016,47135,PERRY,TN,47,1.174564e+09,BRIAN,STUART,20.0,37066,TRAMADOL HCL,TRAMADOL HCL
10808981,0,2016,47135,PERRY,TN,47,1.174564e+09,BRIAN,STUART,20.0,37066,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN
10808980,0,2016,47135,PERRY,TN,47,1.174564e+09,BRIAN,STUART,20.0,37066,OXYCODONE-ACETAMINOPHEN,OXYCODONE HCL/ACETAMINOPHEN
11811024,0,2015,47127,MOORE,TN,47,1.194100e+09,MONICA,CHAMBERLAIN,17.0,37404,HYDROMORPHONE HCL,HYDROMORPHONE HCL

In [56]:
oxy.to_csv(oxydf.csv)

NameError: name 'oxydf' is not defined