In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
from sqlalchemy import create_engine, text

In [4]:
database_name = 'prescribers'    # Fill this in with your prescribers database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [5]:
engine = create_engine(connection_string)

In [6]:
od_query = 'SELECT * FROM overdose_deaths'
with engine.connect() as connection:
    od_df = pd.read_sql(text(od_query), con = connection)

# od_df 380 rows

In [7]:
county_query = 'SELECT * FROM fips_county'
with engine.connect() as connection:
    county_df = pd.read_sql(text(county_query), con = connection)

# county_df 3272 rows

In [8]:
tn_county_df=county_df[county_df['state']=='TN']
tn_county_df

          county state fipscounty fipsstate
2470    ANDERSON    TN      47001        47
2471     BEDFORD    TN      47003        47
2472      BENTON    TN      47005        47
2473     BLEDSOE    TN      47007        47
2474      BLOUNT    TN      47009        47
...          ...   ...        ...       ...
2561     WEAKLEY    TN      47183        47
2562       WHITE    TN      47185        47
2563  WILLIAMSON    TN      47187        47
2564      WILSON    TN      47189        47
2565   STATEWIDE    TN      47990        47

[96 rows x 4 columns]

In [9]:
tn_county_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 2470 to 2565
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   county      96 non-null     object
 1   state       96 non-null     object
 2   fipscounty  96 non-null     object
 3   fipsstate   96 non-null     object
dtypes: object(4)
memory usage: 3.8+ KB

In [10]:
od_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   overdose_deaths  380 non-null    int64
 1   year             380 non-null    int64
 2   fipscounty       380 non-null    int64
dtypes: int64(3)
memory usage: 9.0 KB

In [14]:
new_tn_df= tn_county_df['fipscounty'].astype('int')
new_tn_df.info()

<class 'pandas.core.series.Series'>
Index: 96 entries, 2470 to 2565
Series name: fipscounty
Non-Null Count  Dtype
--------------  -----
96 non-null     int64
dtypes: int64(1)
memory usage: 1.5 KB

In [13]:
# od_tn_df = od_df.merge(tn_county_df, on='fipscounty')

In [ ]:
# What did the trend in overdose deaths due to opioids look like in Tennessee from 2015 to 2018?

In [ ]:
# od_yrs_df = od_df.groupby(['overdose_deaths']).count().sort_values(by = 'fipscounty')

In [ ]:
# plt.bar(od_df['year'], od_df['overdose_deaths'], bins=10);