In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [60]:
import pandas as pd
import folium as fol
import numpy as np
import sqlite3 as sql
from geopy.geocoders import Nominatim

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
from sqlalchemy import create_engine, text

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [4]:
database_name = 'prescribers'    # Fill this in with your prescribers database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [5]:
engine = create_engine(connection_string)

sqlalchemy works well with pandas to convert query results into dataframes.

In [6]:
import pandas as pd

First, let's write a meaningful query.

In [7]:
query = 'SELECT * FROM prescriber'

Now, bring it all together using the following syntax.

In [8]:
with engine.connect() as connection:
    people = pd.read_sql(text(query), con = connection)

people.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,0001,TN,US,Nurse Practitioner,S,N
1,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,37919,2333,TN,US,Pulmonary Disease,S,E
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,37043,4605,TN,US,Family Practice,S,E
3,1.003014e+09,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,2786,TN,US,Orthopedic Surgery,S,E
4,1.003018e+09,TODD,JOSHUA,W,M.D.,M,I,1819 W CLINCH AVE,SUITE 108,KNOXVILLE,37916,2435,TN,US,Cardiology,S,E

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python

In [9]:
# Tennessee's Opioid Crisis
# Opioids are a class of drugs including prescription pain relievers such as oxycodone and hydrocodone, the synthetic opioid fentanyl, and the illegal drug heroin. These drugs produce euphoria in addition to pain relief, which can lead to dependence, addiction, overdose, and death.

# In the late 1990s, opioids began to be prescribed at high rates, which led to widespread misuse and ultimately created a serious national health crisis. In 2019, more than 130 people per day died from opioid-related drug overdoses in the United States. Tennessee has been one of the hardest-hit states in the opioid epidemic, with more than 1300 overdose deaths in 2018.

# In this project, you will be working with a database created from the 2017 Medicare Part D Prescriber Public Use File to answer the following questions:

# Which Tennessee counties had a disproportionately high number of opioid prescriptions?
# Who are the top opioid prescibers for the state of Tennessee?
# What did the trend in overdose deaths due to opioids look like in Tennessee from 2015 to 2018?
# Is there an association between rates of opioid prescriptions and overdose deaths by county?
# Is there any association between a particular type of opioid and number of overdose deaths?
# Note that some zip codes will be associated with multiple fipscounty values in the zip_fips table. To resolve this, use the fipscounty with the highest tot_ratio for each zipcode.

# Feel free to include any additional data sets, but it is not a requirement.

# With your group, create a 10 minute presentation addressing these questions.

In [10]:
predf = 'SELECT * FROM prescription'

In [11]:
with engine.connect() as connection:
  prescriptiondf = pd.read_sql(text(predf), con = connection)

prescriptiondf.head()

,npi,drug_name,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1.427076e+09,RALOXIFENE HCL,NaN,18.0,28.0,840.0,1009.66,NaN,*,18.0,None,28.0,840.0,1009.66
1,1.003858e+09,GLIMEPIRIDE,NaN,12.0,16.0,480.0,270.86,NaN,*,NaN,*,NaN,NaN,NaN
2,1.184627e+09,TAMSULOSIN HCL,NaN,14.0,24.0,698.0,353.62,NaN,#,NaN,#,NaN,NaN,NaN
3,1.306111e+09,SPIRIVA,NaN,13.0,13.0,390.0,4783.28,NaN,*,NaN,*,NaN,NaN,NaN
4,1.285658e+09,SPIRIVA,NaN,13.0,13.0,390.0,4855.95,NaN,#,NaN,#,NaN,NaN,NaN

In [12]:
ddf = 'SELECT * FROM drug'

In [13]:
with engine.connect() as connection:
  drugdf = pd.read_sql(text(ddf), con = connection)

drugdf.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
0,1ST TIER UNIFINE PENTIPS,"PEN NEEDLE, DIABETIC",N,N,N,N
1,1ST TIER UNIFINE PENTIPS PLUS,"PEN NEEDLE, DIABETIC",N,N,N,N
2,ABACAVIR,ABACAVIR SULFATE,N,N,N,N
3,ABACAVIR-LAMIVUDINE,ABACAVIR SULFATE/LAMIVUDINE,N,N,N,N
4,ABACAVIR-LAMIVUDINE-ZIDOVUDINE,ABACAVIR/LAMIVUDINE/ZIDOVUDINE,N,N,N,N

In [14]:
# Who are the top opioid prescibers for the state of Tennessee?
opyes = drugdf.loc[drugdf['opioid_drug_flag']=='Y']
opyes.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
10,ABSTRAL,FENTANYL CITRATE,Y,N,N,N
18,ACETAMIN-CAFF-DIHYDROCODEINE,ACETAMINOPHEN/CAFF/DIHYDROCOD,Y,N,N,N
19,ACETAMINOPHEN-CODEINE,ACETAMINOPHEN WITH CODEINE,Y,N,N,N
33,ACTIQ,FENTANYL CITRATE,Y,N,N,N
212,ARYMO ER,MORPHINE SULFATE,Y,Y,N,N

In [15]:
rxop = pd.merge(prescriptiondf, opyes, on='drug_name')

In [16]:
rxop.head()

,npi,drug_name,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
0,1.659798e+09,OXYCODONE-ACETAMINOPHEN,102.0,525.0,525.0,15538.0,27665.43,43.0,None,245.0,None,245.0,7290.0,12245.28,OXYCODONE HCL/ACETAMINOPHEN,Y,N,N,N
1,1.073577e+09,OXYCODONE-ACETAMINOPHEN,12.0,20.0,20.0,103.0,159.69,NaN,#,NaN,#,NaN,NaN,NaN,OXYCODONE HCL/ACETAMINOPHEN,Y,N,N,N
2,1.508065e+09,OXYCODONE-ACETAMINOPHEN,18.0,105.0,105.0,2380.0,6417.30,NaN,#,80.0,None,80.0,1836.0,5163.54,OXYCODONE HCL/ACETAMINOPHEN,Y,N,N,N
3,1.689785e+09,OXYCODONE-ACETAMINOPHEN,12.0,17.0,17.0,358.0,350.49,12.0,None,17.0,None,17.0,358.0,350.49,OXYCODONE HCL/ACETAMINOPHEN,Y,N,N,N
4,1.831504e+09,OXYCODONE-ACETAMINOPHEN,175.0,242.0,242.0,7103.0,10714.55,89.0,None,117.0,None,117.0,3432.0,5655.45,OXYCODONE HCL/ACETAMINOPHEN,Y,N,N,N

In [17]:
prescrdf = 'SELECT * FROM prescriber'

In [18]:
with engine.connect() as connection:
  prescriberdf = pd.read_sql(text(prescrdf), con = connection)

prescriberdf.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,0001,TN,US,Nurse Practitioner,S,N
1,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,37919,2333,TN,US,Pulmonary Disease,S,E
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,37043,4605,TN,US,Family Practice,S,E
3,1.003014e+09,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,2786,TN,US,Orthopedic Surgery,S,E
4,1.003018e+09,TODD,JOSHUA,W,M.D.,M,I,1819 W CLINCH AVE,SUITE 108,KNOXVILLE,37916,2435,TN,US,Cardiology,S,E

In [37]:
countpopre = pd.merge(prescriberdf, rxop, on='npi', how='left')

In [38]:
tncount = countpopre.loc[countpopre['nppes_provider_state']=='TN']

In [39]:
tncount.sort_values('total_claim_count', ascending=False)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status,drug_name,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
41842,1.912012e+09,COFFEY,DAVID,B,MD,M,I,281 UNDERPASS DRIVE,None,ONEIDA,37841,None,TN,US,Family Practice,S,E,OXYCODONE HCL,467.0,4538.0,4538.9,66209.0,81256.66,141.0,None,1402.0,None,1402.9,20646.0,24565.20,OXYCODONE HCL,Y,N,N,N
41838,1.912012e+09,COFFEY,DAVID,B,MD,M,I,281 UNDERPASS DRIVE,None,ONEIDA,37841,None,TN,US,Family Practice,S,E,HYDROCODONE-ACETAMINOPHEN,415.0,3376.0,3376.0,49291.0,45346.03,146.0,None,1051.0,None,1051.0,16086.0,14500.39,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N
40027,1.861892e+09,TAYLOR,ALICIA,N,"PA-C, MPAS",F,I,2212 JACKSBORO PIKE,None,LA FOLLETTE,37766,2903,TN,US,Physician Assistant,S,E,OXYCODONE HCL,387.0,2977.0,2979.0,85191.0,104730.89,116.0,None,909.0,None,911.0,26430.0,34974.41,OXYCODONE HCL,Y,N,N,N
20709,1.447608e+09,CATHERS,SHARON,None,NP-C,F,I,9217 PARK WEST BLVD,STE E-1,KNOXVILLE,37923,4404,TN,US,Nurse Practitioner,S,E,OXYCODONE HCL,584.0,2813.0,2813.0,84001.0,91601.73,148.0,None,753.0,None,753.0,22324.0,24143.54,OXYCODONE HCL,Y,N,N,N
15854,1.346389e+09,ORUSA,SAMSON,K,M.D,M,I,261 STONECROSSING DR,None,CLARKSVILLE,37042,8404,TN,US,Internal Medicine,S,E,OXYCODONE HCL,222.0,2478.0,2478.0,59252.0,64897.00,21.0,None,229.0,None,229.0,5902.0,7123.46,OXYCODONE HCL,Y,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45884,1.992953e+09,ZAFAR,ADNAN,None,M.D.,M,I,1005 DR. D.B. TODD JR. BLVD.,None,"NASHVILLE, TENNESSEE",37208,None,TN,US,Psychiatry & Neurology,T,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45888,1.992962e+09,ANGLUM,ABIGAIL,L,APN,F,I,3801 HILLSBORO RD,None,NASHVILLE,37215,2603,TN,US,Nurse Practitioner,S,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45891,1.992974e+09,BARTOSCH,RACHAEL,D,ACNP-BC,F,I,6027 WALNUT GROVE RD STE 206,None,MEMPHIS,38120,2127,TN,US,Nurse Practitioner,S,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45898,1.992984e+09,POWELL,STEPHANIE,J,MD,F,I,CORNER OF SYDNEY AND LAMONT STREET,PRIMARY CARE BLDG 160,MOUNTAIN HOME,37684,None,TN,US,Internal Medicine,S,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45906,1.992998e+09,DRAPER,DAVID,G,DDS,M,I,202 SHIPLEY STREET,None,COOKEVILLE,38501,None,TN,US,Dentist,T,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
col_list = ['nppes_provider_first_name', 'nppes_provider_last_org_name', 'total_claim_count', 'nppes_provider_zip5', 'nppes_provider_state']

countpopre2 = countpopre[col_list]

In [81]:
countpop1 = countpopre2.dropna()

In [83]:
countpop1.sort_values('total_claim_count', ascending=False).reset_index().head(5)

,index,nppes_provider_first_name,nppes_provider_last_org_name,total_claim_count,nppes_provider_zip5,nppes_provider_state
0,41842,DAVID,COFFEY,4538.0,37841,TN
1,41838,DAVID,COFFEY,3376.0,37841,TN
2,40027,ALICIA,TAYLOR,2977.0,37766,TN
3,20709,SHARON,CATHERS,2813.0,37923,TN
4,15854,SAMSON,ORUSA,2478.0,37042,TN

In [51]:
nash_map = folium.Map(location = [36.1612, -86.7775], zoom_start=7)

In [52]:
nash_map

In [77]:
def get_coordinates(zip_code):
    geolocator = Nominatim(user_agent="geoapiExercises")
    location = geolocator.geocode(zip_code)
    return (location.latitude, location.longitude)

In [86]:
from geopy.geocoders import Photon
geolocator = Photon(user_agent="measurements")
zip1 = countpop1['nppes_provider_zip5']
location = geolocator.geocode(zip1)
print(location)

IndexError: list index out of range