In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [1]:
#!pip install psycopg2-binary

In [2]:
#!pip install psycopg2

In [3]:
import pandas as pd

In [4]:
pd.set_option("display.max_columns", None)

In [5]:
from sqlalchemy import create_engine, text

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [6]:
database_name = 'prescribers'    # Fill this in with your prescribers database name

connection_string = f"postgresql://postgres:DADAgg7?z!jux3@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [7]:
engine = create_engine(connection_string)

sqlalchemy works well with pandas to convert query results into dataframes.

In [8]:
import pandas as pd

First, let's write a meaningful query.

In [9]:
#cope and reuse

query = 'SELECT * FROM prescriber'

Now, bring it all together using the following syntax.

In [10]:
#copy and reuse 

with engine.connect() as connection:
    people = pd.read_sql(text(query), con = connection)

people.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,0001,TN,US,Nurse Practitioner,S,N
1,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,37919,2333,TN,US,Pulmonary Disease,S,E
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,37043,4605,TN,US,Family Practice,S,E
3,1.003014e+09,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,2786,TN,US,Orthopedic Surgery,S,E
4,1.003018e+09,TODD,JOSHUA,W,M.D.,M,I,1819 W CLINCH AVE,SUITE 108,KNOXVILLE,37916,2435,TN,US,Cardiology,S,E

#  Which Tennessee counties had a disproportionately high number of opioid prescriptions?

opioid_drug_flag from drug
county from fips_county

In [11]:
fips_county_query = 'SELECT * FROM fips_county'

In [12]:
with engine.connect() as connection:
    fips_county_table = pd.read_sql(text(fips_county_query), con = connection)

fips_county_table

         county state fipscounty fipsstate
0       AUTAUGA    AL      01001        01
1       BALDWIN    AL      01003        01
2       BARBOUR    AL      01005        01
3          BIBB    AL      01007        01
4        BLOUNT    AL      01009        01
...         ...   ...        ...       ...
3267    VIEQUES    PR      72147        72
3268   VILLALBA    PR      72149        72
3269    YABUCOA    PR      72151        72
3270      YAUCO    PR      72153        72
3271  STATEWIDE    PR      72990        72

[3272 rows x 4 columns]

In [22]:
#drill down on TN

listed_as_tn = fips_county_table[fips_county_table['state'] =='TN']
listed_as_tn

          county state fipscounty fipsstate
2470    ANDERSON    TN      47001        47
2471     BEDFORD    TN      47003        47
2472      BENTON    TN      47005        47
2473     BLEDSOE    TN      47007        47
2474      BLOUNT    TN      47009        47
...          ...   ...        ...       ...
2561     WEAKLEY    TN      47183        47
2562       WHITE    TN      47185        47
2563  WILLIAMSON    TN      47187        47
2564      WILSON    TN      47189        47
2565   STATEWIDE    TN      47990        47

[96 rows x 4 columns]

In [13]:
prescriptions_query = 'SELECT * FROM prescription'

In [14]:
with engine.connect() as connection:
    prescription_table = pd.read_sql(text(prescriptions_query), con = connection)

prescription_table

,npi,drug_name,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1.427076e+09,RALOXIFENE HCL,NaN,18.0,28.0,840.0,1009.66,NaN,*,18.0,None,28.0,840.0,1009.66
1,1.003858e+09,GLIMEPIRIDE,NaN,12.0,16.0,480.0,270.86,NaN,*,NaN,*,NaN,NaN,NaN
2,1.184627e+09,TAMSULOSIN HCL,NaN,14.0,24.0,698.0,353.62,NaN,#,NaN,#,NaN,NaN,NaN
3,1.306111e+09,SPIRIVA,NaN,13.0,13.0,390.0,4783.28,NaN,*,NaN,*,NaN,NaN,NaN
4,1.285658e+09,SPIRIVA,NaN,13.0,13.0,390.0,4855.95,NaN,#,NaN,#,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656053,1.336170e+09,PROMETHAZINE HCL,NaN,11.0,11.0,56.0,62.82,NaN,*,NaN,*,NaN,NaN,NaN
656054,1.679676e+09,RANITIDINE HCL,53.0,178.0,426.0,12760.0,2860.16,NaN,#,NaN,#,NaN,NaN,NaN
656055,1.265588e+09,DIAZEPAM,16.0,48.0,48.0,1425.0,253.49,NaN,*,14.0,None,14.0,420.0,55.49
656056,1.144212e+09,RAMIPRIL,NaN,38.0,90.0,2700.0,627.50,NaN,#,NaN,#,NaN,NaN,NaN
656057,1.205923e+09,ATENOLOL,11.0,36.0,108.0,3240.0,396.79,NaN,#,NaN,#,NaN,NaN,NaN

In [15]:
opioid_drug_query = 'SELECT * FROM drug'

In [16]:
with engine.connect() as connection:
    opioid_table = pd.read_sql(text(opioid_drug_query), con = connection)

opioid_table

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
0,1ST TIER UNIFINE PENTIPS,"PEN NEEDLE, DIABETIC",N,N,N,N
1,1ST TIER UNIFINE PENTIPS PLUS,"PEN NEEDLE, DIABETIC",N,N,N,N
2,ABACAVIR,ABACAVIR SULFATE,N,N,N,N
3,ABACAVIR-LAMIVUDINE,ABACAVIR SULFATE/LAMIVUDINE,N,N,N,N
4,ABACAVIR-LAMIVUDINE-ZIDOVUDINE,ABACAVIR/LAMIVUDINE/ZIDOVUDINE,N,N,N,N
...,...,...,...,...,...,...
3420,ZYPREXA,OLANZAPINE,N,N,N,Y
3421,ZYPREXA RELPREVV,OLANZAPINE PAMOATE,N,N,N,Y
3422,ZYPREXA ZYDIS,OLANZAPINE,N,N,N,Y
3423,ZYTIGA,ABIRATERONE ACETATE,N,N,N,N
3424,ZYVOX,LINEZOLID,N,N,Y,N

In [20]:
#drugs flagged as opioids

opioid_drug_use = opioid_table[opioid_table['opioid_drug_flag'] =='Y']
opioid_drug_use

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
10,ABSTRAL,FENTANYL CITRATE,Y,N,N,N
18,ACETAMIN-CAFF-DIHYDROCODEINE,ACETAMINOPHEN/CAFF/DIHYDROCOD,Y,N,N,N
19,ACETAMINOPHEN-CODEINE,ACETAMINOPHEN WITH CODEINE,Y,N,N,N
33,ACTIQ,FENTANYL CITRATE,Y,N,N,N
212,ARYMO ER,MORPHINE SULFATE,Y,Y,N,N
...,...,...,...,...,...,...
3310,XODOL 10-300,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N
3311,XODOL 7.5-300,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N
3316,XTAMPZA ER,OXYCODONE MYRISTATE,Y,Y,N,N
3323,XYLON 10,HYDROCODONE/IBUPROFEN,Y,N,N,N
3381,ZOHYDRO ER,HYDROCODONE BITARTRATE,Y,Y,N,N

#merging tables 
merged = pd.merge(customers, orders, on='customer_id', how='outer')

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python